@use './styles/roots/loader';
@use './styles/roots/normalize';
@use './styles/header' ;
@use './styles/weather-slider';
@use './styles/search-weather';

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-content: center;
}


